@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');

:root {
    --color-dark-red: #891010;
    --color-red: #a80f0f;
    --color-grey: #827474;
    --color-beige: #c68f57;
    --color-white-beige: #d4ac83;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Monomakh", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--color-beige);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    border-bottom: solid 1px var(--color-grey);
}

.main-title {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
}

.account-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

button {
    font-family: "Monomakh", serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
}

a {
    color: var(--color-dark-red);
}

.button-a {
    background: none;
    border: none;
    padding: 0;
    color: var(--color-dark-red);
    text-decoration: underline;
    cursor: pointer;
}

.auth-container,
.idea-form-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-inline: 128px;
    max-width: 800px;
    min-width: 600px;
}

.img-container {
    width: 50%;
    object-fit: cover;
    border-radius: 16px 0px 0px 16px;
}

.form-container {
    border-radius: 0px 16px 16px 0px;
    background-color: var(--color-beige);
    color: white;
    width: 50%;
    padding: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-title-container {
    text-align: center;
}

.form-data {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-data div {
    display: flex;
    flex-direction: column;
}

.form-data input,
.form-data textarea {
    border: none;
    padding: 8px;
    border-radius: 8px;
}

.form-data textarea {
    resize: none
}

.form-data .helptext {
    font-size: smaller;
}

.form-data .errorlist {
    color: var(--color-red);
}

.form-data button {
    color: white;
    background-color: var(--color-grey);
    border: none;
    padding: 8px;
    border-radius: 8px;
    transition: 0.25s;
}

.form-data button:hover {
    filter: brightness(50%)
}

.form-data button:active {
    filter: brightness(25%)
}

.ideas-container {
    width: 100%;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
}

.idea-card {
    background-color: var(--color-white-beige);
    margin: 8px 0;
    padding: 8px;
    border: solid 1px var(--color-grey);
    border-radius: 8px;
}

.idea-card-title {
    margin: 0;
}

.idea-info {
    margin: 0;
    font-size: small;
}

.idea-description {
    margin: 8px 0;
}

.idea-card-footer{
    display: flex;
    justify-content: space-between;
}

.idea-form-container {
    display: flex;
    border-radius: 16px;
}